#button_1st
{
    height: 30px;
    width: 100px;
    background-color: rgb(129, 208, 129);
    border-radius: 4rem;
    border:hidden;
    font-weight: bold;
}

#button_2nd
{
    height: 30px;
    border-radius: 1rem;
    font-weight: bold;
}
#button_3rd
{
    height: 30px;
    width: 200px;
    background-color: rgb(129, 208, 129);
    border-radius: 4rem;
    border:hidden;
    font-weight: bold;
}
