#App-Container
{
  display: flex;
}
#Container
{
  width: 100%;
}
.sidebar
{
  height: 800px;
}
.post-card
{
  margin: 20px 50px;
}
.tage
{
  margin: 0 3px;
}
.reactions
{
  margin: 0 20px;
}
.delbtn
{
  cursor: pointer;
}
.create-post
{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}